.App {
  text-align: center;
  background-color: #282c34;
  padding: 20px;
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  min-height: 100vh;;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.content-container {
  display: flex; /* Make the content a flexbox container */
  flex-direction: row;  /* Arrange elements horizontally */
}

.card-list-container {
  flex: 1; /* Allocate half of the available space to the card list */
}

.empty-container {
  flex: 1; /* Allocate the remaining half for future components */
}
body{


}
.list-city{
  display: block;
}